<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Последние добавленные записи</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<header>
    <h1>Электронная система учёта обслуживания и ремонта "Лазурит"</h1>
</header>

<div class="nav-bar">
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <div class="nav-links">
        <a href="/">Главная страница</a>
        <a href="/add-log">Добавить запись</a>
        <a href="/view">Просмотр журнала</a>
        <a href="/instruction">Справка и инструкции</a>
    </div>
</div>

<div class="content">
    <h2>Последние добавленные записи</h2>
    <div style="overflow-x: auto;">
        <table>
            <thead>
            <tr>
                <th>Дата и время</th>
                <th>Номер станции</th>
                <th>Часы работы</th>
                <th>Давление масла</th>
                <th>Температура масла</th>
                <th>Добавление масла</th>
                <th>Добавление антифриза</th>
                <th>Температура выхлопа слева</th>
                <th>Температура выхлопа справа</th>
                <th>Примечание</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logs}">
                <td th:text="${#dates.format(log.dateTime, 'dd.MM.yyyy HH:mm')}"></td>
                <td th:text="${log.numberStation}"></td>
                <td th:text="${log.workHours}"></td>
                <td th:text="${log.oilPressure}"></td>
                <td th:text="${log.oilTemp}"></td>
                <td th:text="${log.oilTopping}"></td>
                <td th:text="${log.antifreezeTopping}"></td>
                <td th:text="${log.exhaustTempLeft}"></td>
                <td th:text="${log.exhaustTempRight}"></td>
                <td th:text="${log.comment}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function toggleMenu() {
        var menu = document.querySelector('.nav-links');
        if (menu.style.display === "flex") {
            menu.style.display = "none";
        } else {
            menu.style.display = "flex";
        }
    }
</script>

</body>
</html>


