<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Справка и инструкции</title>
    <link rel="stylesheet" th:href="@{/css/instruction.css}">
</head>
<body>

<header>
    <h1>Электронная система учёта обслуживания и ремонта "Лазурит"</h1>
</header>

<div class="nav-bar">
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <div class="nav-links">
        <a href="/">Главная страница</a>
        <a href="/add-log">Добавить запись</a>
        <a href="/view">Просмотр журнала</a>
        <a href="/instruction">Справка и инструкции</a>
    </div>
</div>

<nav>
    <button onclick="showTab('tab1')">Ежедневное обслуживание</button>
    <button onclick="showTab('tab2')">Техобслуживание</button>
    <button onclick="showTab('tab3')">Пожарная безопасность</button>
    <button onclick="showTab('tab4')">Утечка газа</button>
</nav>

<div id="tab1" class="content active">
    <h2>Порядок ежедневного обслуживания</h2>
    <p>Информация по ежедневному обслуживанию...</p>
</div>

<div id="tab2" class="content">
    <h2>Порядок технического обслуживания</h2>
    <p>Информация по техобслуживанию...</p>
</div>

<div id="tab3" class="content">
    <h2>Порядок действий при пожаре</h2>
    <p>Инструкция по пожарной безопасности...</p>
</div>

<div id="tab4" class="content">
    <h2>Порядок действий при утечке газа</h2>
    <p>Инструкция по утечке газа...</p>
</div>

<script>
    function showTab(tabId) {
        const tabs = document.querySelectorAll('.content');
        tabs.forEach(tab => {
            tab.classList.remove('active');
        });
        document.getElementById(tabId).classList.add('active');
    }

    function toggleMenu() {
        var menu = document.querySelector('.nav-links');
        if (menu.style.display === "flex") {
            menu.style.display = "none";
        } else {
            menu.style.display = "flex";
        }
    }
</script>

</body>
</html>
