<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Главная страница</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/add-log">Добавить запись</a>
            <a class="nav-link" href="/">Просмотр журнала</a>
            <a class="nav-link" href="/instruction">Справка и инструкции</a>
        </nav>
    </div>
</header>


<div class="container mt-5">
    <h1>Выберете форму записи</h1>
    <form action="">
        <input type="submit" value="Запись ежедневного обслуживания" />
    </form>
    <form action="">
        <input type="submit" value="Запись технического обслуживания обслуживания" />
    </form>
    <form action="">
        <input type="submit" value="Рапорт об аварии или происшествии" />
    </form>

</div>
</body>
</html>